#home-cookie
{
    width: 60%;
    margin-left: 15%;
    margin-top: 20%;
}

#home-sec-1
{
    background-color: #fcf0d0;
}

#home-sec-2
{
    text-align: center;
}

#footer
{
    text-align: center;
    color: white;
    height: 50px;
}